*{
    box-sizing:border-box
}

body {
    font-family: sans-serif;
    padding: 0 10px;
}

.container {
    max-width: auto;
    margin: 0 auto;
}

.navbar {
    background-color: #51421549;  
    color: rgb(240, 240, 87);
    display: flex;     
    flex-wrap: wrap;   
    align-items: center;        
    align-content: center;             
    justify-content: space-between;   
    padding: 10px;
    gap: 10px;
}

.links {
    background-color: #aeac97;
    color: white;   
    display: flex;    
    flex-wrap: wrap;       
    justify-content: center;     
    gap: 10px;              
    padding: 10px;
    border-radius: 0 0 20px 20px;      
}

.nav-link {
    color: rgb(239, 236, 45);
    text-decoration: none;          
    background-color: #70878c;
    border: 1px solid #70878c;       
    border-radius: 6px;    
    padding: 10px 15px;
    text-align: center;     
    
}

.nav-link:hover {
    background-color: rgba(83, 74, 74, 0.872);
    border: none;
    border-radius: none;
}

.logo {
    max-width: 35%;
    height: 35%;
}

.index-img {
    max-width: 100%;
    height: auto;
}

hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid #cccccc;
}

.btn {
    display: block;
    width: 20%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #dee97a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #85383e;
}

.page-header {
    background-color: beige;
    color: white;
    margin-top: 15px;
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

.img-box {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 16 / 9;
    margin: 40px auto;
    background-color: #5141314d;
    border-radius: 6px;
    box-shadow: 10px 10px #5141314d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box img {
    width: 90%; 
    height: 90%;
    object-fit: contain;  
}



@media (max-width: 768px) { 

    .nav-bar {
        flex-direction: column;  
        align-items: stretch;  
    }

    

    .links {
        flex-direction: column;   
    }

    .flex-row {
        flex-direction: column;
    }

    .box-data {
        flex-direction: column;
    }
}